<!DOCTYPE html>
<html>
<head>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.0.0/dist/phaser.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./javascripts/tf.js"></script>
</head>
<body>

    <script>
    var config = {
        type: Phaser.AUTO,
        width: 1400,
        height: 1000,
        physics: {
            default: 'arcade',
            arcade: {
                gravity: { y: 0 }
            }
        },
        scene: {
            preload: preload,
            create: create,
            update: update,
        }
    };

    var game = new Phaser.Game(config);
    var car;
    var cursors;
    var turnOnSpikes;

    function preload ()
    {
    this.load.image('le_road', './assets/le_road.png')
    this.load.image('green_car', './assets/green_car.png')
    this.load.image('spikes', './assets/spikes.png')
    }

    function create ()
    {
        
        this.add.image(700, 500, 'le_road');
        car = this.physics.add.sprite(300,600,'green_car');

        timedEvent = this.time.addEvent({
            delay: 1500,
            callback: renderSpikes,
            callbackScope: this,
            loop: true
        })

        cursors = this.input.keyboard.createCursorKeys();

    }

    function renderSpikes(){
        console.log("hello")
        xVal = (Math.random() * 750) + 300
        var spikes = this.physics.add.sprite(xVal, 0, 'spikes')
        spikes.setVelocityY(300)
        this.physics.add.collider(car, spikes);
        spikes.setCollideCallback(collide, this);
    }



    function update(){
        if(cursors.left.isDown){
            car.setVelocityX(-700)
        }
        else if (cursors.right.isDown){
            car.setVelocityX(700)
        }
        else if (cursors.up.isDown){
            car.setVelocityY(-700)
        }
        else if (cursors.down.isDown){
            car.setVelocityY(700)
        }
        else {
            car.setVelocityX(0)
            car.setVelocityY(0)
        }
    }
    </script>

</body>
</html>
